# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List some popular languages in Data Science
- Identify commonly used libraries in Data Science
- Provide an organized chart with helpful Data Science tools
- Provide examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Seaborn

| Data Science Tools               |
|---------------------------------|
| Jupyter Notebook                 |
| RStudio                          |
| Apache Spark    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [27]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [31]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Brynn Jacoby